@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';


.ratings{
    white-space: nowrap;
    @include flex-direction($direction:row);
    gap:5px;
   
}

@include mobile{
    .ratings{
        & img{
            width: 13.41px;
            height: 13px;
        }
    }
}