@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.footer-block{
    background-color:$black ;
    width: 100%;
    @include flex-direction($direction:column, $align-i:center);
    padding-top:66px ;
    padding-bottom:29px ;
    & img{
        width: 122px;
        margin-bottom: 28.56px;
    }
    & p {
        color:$white;
        text-align: center;
    }
}

@include mobile{
    .footer-block{
        padding: 58px 121px;
        & img{
            margin-bottom: 10px;
        }
        & p{
            font-size: 12px;
            width: 100px;
        }    
    }
}