@import '../../styles/variables';
@import '../../styles/mixins';

.banner, .banner>*{
    width: 100%;
  }

.banner{
    position: relative;
    height: 223px;
    border-radius: 25px;
    overflow: hidden;
    @include mobile {
        height: 111px;
        margin-bottom: 0;
        border-radius: 10px;
       }
        &_container {
            height: 100%;
            filter: brightness(0.7);
            img {
                @include img;
            };
            @include mobile {
                filter: brightness(0.7);
            }
        }
        &_title {
            color:$white;
            position: absolute;
            text-align: center;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-size: 48px;
            font-weight: 500;
            @include mobile {
                font-size: 24px;
                width: 217px;
                text-align: start;
                transform:translate(-70%, -50%);
               
            
            }

        }
}