@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.page .main-style {

    gap: 25px !important;
}

.block, .collapseLodging {
    @include flex-direction($justify-c:space-between);
}

.block {
    @include flex-direction($direction:row, $justify-c:space-between);
    gap:unset;
    @include mobile {
        @include flex-direction($direction:column);
        gap:10px;
    }
    &_titleAndTag, &_ratingAndHost {
        @include flex-direction($direction:column);
        gap:10px;
    }
    &_titleAndTag {
        align-items: flex-start;
    }
    &_ratingAndHost {
        align-items: flex-end;
    }
}

.collapseLodging{
    gap: 5%;
    & ul >li{
        list-style-type: none;
    }
}

@include mobile {
    .block, .collapseLodging{
        flex-direction: column;
    }
    .block{
        &_ratingAndHost{
            @include flex-direction($direction:row-reverse, $justify-c:space-between, $align-i:center);
            padding-bottom: 0;  
        }
    }
    .collapseLodging{
        gap:20px;
    } 

}